body {
    background-color: azure;
    margin: 30 200;
    font-family: Courier, monospace;
}

h1 {
    margin: 30 100 30;
    text-align: center;
    font-size: 80;
}

.wholelist {
    font-size: 30;
}