body {
    background-color: rgb(100, 100, 100);
    font-family: Courier, monospace;
}

header.page {
    color:crimson;
    background-color: rgb(39, 39, 39);
    font-style: oblique;
    font-weight: bold;
    font-size: 50;
    padding: 20 50;
}

article {
    background-color: rgb(128, 128, 128);
    margin: 30 450;
    padding: 50;
    font-family: Courier, monospace;
}

header.article {
    font-size: 40;
}

.wholelist {
    font-size: 25;
}